body {
    background-color: #59D5E0;
}
/* title text align wont load */
#title {
    text-align: center;
}

.welcome {
    background-color: #fd4f89;
    width: 100px;
    height: 100px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
    
}